*{
    margin: 0;
    padding: 0;
}
.cabeçalho{
    background-color: beige;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}
.foto{
    width: 25%;
}
.braços{
     background-color: bisque;
     color: black;
     width:50%;
}